%table
  %thead
    %tr
      %th タイトル
      %th 内容
      %th 作成日時
      %th 更新日時
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.body
        %td= article.created_at
        %td= article.updated_at

- if current_user
  = link_to 'LOGOUT', destroy_user_session_path, method: :delete
- else
  = link_to 'LOGIN', new_user_session_path
