%p#notice= notice

%p
  %b Show:
  %p
    = @article.title
  %p
    = markdown(@article.body)

- if current_user && @article.written_by?(current_user)
  = link_to 'Edit', edit_user_article_path(@article)
  \|
= link_to 'Back', articles_path
